/* ------------------ Estilos para la página principal ---------------------------- */


/* Estilos para la franja de encabezado */
.header-bar {
    background-color: #009959;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    z-index: 2; /* Ajusta el z-index para que el encabezado esté por encima de la portada */
  }

/* Estilos para el logotipo */
.logo img {
    width: 300px; /* Ajusta el tamaño del logotipo según tus necesidades */
    border-radius: 5px; /* Agregamos bordes redondos */
}


/* Estilos para el campo de búsqueda */
.search-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Centramos horizontalmente */
}

.search-box input[type="text"] {
    width: 700px; /* Ajusta el ancho de la barra de búsqueda según tus necesidades */
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px; /* Agregamos margen derecho */
}


/* Estilos para el botón "Contáctanos" */
.contact-button a {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.contact-button a:hover {
    background-color: #9e9b9b;
}


/* Estilos personalizados para el botón de búsqueda */
.search-button {
    padding: 10px 15px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #9e9b9b;
}


/* Estilos para la navegación */
nav {
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    background-color: #FCC000;
    color: #fff;
    border-radius: 0px;
    padding: 15px 0; /* Añadimos padding para separación vertical */
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 80px; /* Aumentamos el margen entre elementos */
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 20px; /* Aumentamos el tamaño del texto */
    transition: color 0.3s ease; /* Agregamos transición para el color */
}

.menu a:hover {
    color: #009959; /* Cambiamos el color al pasar el cursor */
}


/* Estilos para el menú desplegable */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FCC000;
    list-style: none;
    padding: 10px; /* Añadimos padding para separación interna */
    margin: 0;
    width: 200px; /* Aumentamos el ancho del submenú */
    z-index: 2; /* Asegura que la portada esté detrás del menú */
}

.submenu li {
    margin: 20px 0; /* Aumentamos el margen vertical entre elementos */
}

.submenu a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 20px; /* Ajustamos el tamaño del texto */
    transition: background-color 0.3s ease; /* Agregamos transición */
}


/* Estilos para mostrar el submenú al pasar el cursor sobre el elemento padre */
.menu li:hover > .submenu {
    display: block;
}

/* Estilos para mostrar el submenú al pasar el cursor sobre el subtema */
.submenu li:hover > .submenu {
    display: block;
}


/* Estilos para las portadas deslizantes */
#slider {
    position: relative;
    width: 100%;
    height: 50%; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    z-index: 1; /* Asegura que la portada esté detrás del menú */
  }
  
  .slider-container {
    display: flex;
    width: 100%; /* Ajusta el ancho según la cantidad de imágenes */
    transition: transform 0.5s ease;
    position: relative;
    z-index: 1;
  }
  
  .slide {
    flex: 1 0 99%;
    height: 100%;
    z-index: 1; /* Asegura que la portada esté detrás del menú */
  }
  
  .slide img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 5px; /* Agrega bordes redondeados según tus preferencias */
    z-index: 1; /* Asegura que la portada esté detrás del menú */
  }
  
  .arrow-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 120px;
    z-index: 1; /* Asegura que la portada esté detrás del menú */
  }
  
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #009959; /* Ajusta el color de fondo de las flechas */
    color: #fff; /* Ajusta el color del texto de las flechas */
    font-size: 24px; /* Ajusta el tamaño de la fuente de las flechas */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .arrow:hover {
    background-color: #00663b; /* Ajusta el color de fondo al pasar el cursor */
  }
  

/* --------------------Estilos para la página conocenos ---------------------------------*/

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el título "Conócenos" */
.green-title {
    color: #009959;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

/* Estilos para la imagen de portada */
.about-section img {
    width: 100%;
    height: 50%;
    border-radius: 10px; /* Agregamos bordes redondos */
}

/* Estilos para el contenido adicional de la página */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Estilos para el texto de abajo de la imagen de portada */
.text-container {
    margin: 10px auto;
    max-width: 1400px;
    padding: 0 10px;
}

.text-container p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.text-container .highlight {
    color: #009959; /* Resaltar en verde una frase en específico */
    font-weight: bold;
    
}

/* Estilos para las cajas de valores */
.value-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.value-box {
    flex: 0 0 calc(45% - 190px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    background-color: #f2f2f2; /* Color de fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Añadir espacio interno */
}

.value-box img {
    width: 140px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.value-box p {
    font-size: 16px;
    line-height: 1.5;
}
.text-container-v p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

/* Estilos para las cajas de misión y visión */
.yellow-title-m {
    color: #FCC000;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.green-title-v{
    color: #009959;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

/* Estilos para las cajas de misión y visión */
.box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.mission-box,
.vision-box {
    flex: 0 0 calc(45% - 20px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
    color: #fff;
    text-align: center;
}

.mission-box {
    background-color: rgba(0, 153, 89, 0.8); /* Color de fondo con transparencia */
}

.vision-box {
    background-color: rgba(252, 192, 0, 0.8); /* Color de fondo con transparencia */
}

.image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-box h3,
.vision-box h3 {
    margin-top: 0;
}

.mission-box p,
.vision-box p {
    margin-bottom: 0;
}

.text-container-myv p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    color: #000000;
}


/* Estilos para el footer */
footer {
    background-color: #009959;
    color: #fff;
    padding: 20px;
  }
  
  /* Estilos para la franja del footer */
  .footer-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para el logo en el footer */
  .logo img {
    width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
  }
  
  /* Estilos para el texto en el footer */
  .footer-text {
    text-align: center;
    margin-top: 10px;
  }
  
  .footer-text p {
    font-size: 14px;
  }
  

  /* --------------------Estilos para la página catalogo ---------------------------------*/

  /* Estilos del índice alfabético */
/* Estilos del índice por marca */
.index-container {
    margin-bottom: 10px;
}

.index-container h2 {
    font-size: 30px; /* Tamaño de fuente del título */
    font-weight: bold; /* Peso de fuente en negrita */
    margin-bottom: 10px; /* Margen inferior */
    text-align: center;
}

.index-list {
    list-style-type: none; /* Eliminar los estilos de viñeta */
    padding: 0; /* Eliminar el padding */
    margin: 0; /* Eliminar el margen */
}

.index-list li {
    display: inline-block; /* Mostrar elementos de lista en línea */
    margin-right: 20px; /* Margen derecho entre elementos de lista */
    font-size: 20px;
}

.index-list a {
    display: inline-block; /* Mostrar enlaces en línea */
    text-decoration-line: none; /* Eliminar la decoración de texto */
    padding: 10px 16px; /* Espacio de relleno interno */
    border-radius: 4px; /* Borde redondeado */
    color: #333; /* Color del texto */
    font-size: 19px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición suave al hacer hover */
}


.index-list a:hover {
    background-color: #f5f5f5; /* Color de fondo al hacer hover */
    color: #000; /* Color del texto al hacer hover */
    transform: scale(1.1); /* Escalar la imagen al hacer hover */

}

.index-list a.index-button {
    padding: 6px 10px; /* Ajustar el espacio de relleno para letras más pequeñas */
    font-size: 18px; /* Tamaño de fuente para letras más pequeñas */
    font-weight: bold;
}

.index-list img {
    width: 60px; /* Ancho de la imagen del logo */
    height: 60px; /* Alto de la imagen del logo */
    border-radius: 50%; /* Borde redondeado */
    background-color: #ffffff; /* Color de fondo blanco */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s; /* Transición suave al hacer hover */
}

.index-list img:hover {
    transform: scale(1.1); /* Escalar la imagen al hacer hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
}


/* Estilos del índice por marca */
.brand-container {
    margin-bottom: 20px;
}

.brand-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-list li {
    margin: 5px;
}

.brand-list a {
    display: block;
    text-decoration: none;
}

/* Estilos de los logos de marca */
.brand-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.brand-list img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el título h2 en la sección "letter-a" */

#letter-a {

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en tres columnas iguales */
    grid-gap: 20px; /* Espacio entre los elementos */
    align-items: center;
    text-align: center;
  }

#letter-a h2 {
    font-size: 45px;
}

/* Estilos de los productos */
.product {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

  

  /* Estilos para los enlaces de productos */
.main-links a {
    display: block;
    margin-bottom: 5px;
    font-size: 22px; /* Aumentamos el tamaño de las letras */
    text-decoration: none;
    color: #009959 ;
  }
  
  .main-links a:hover {
    text-decoration: underline;
  }


.brand-logo {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
  }
  
  /* Estilos para los enlaces y el contenedor */
  .link-item {
    display: flex; /* Aplica flexbox para alinear elementos en línea */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    margin-bottom: 20px; /* Espacio entre cada enlace y la imagen */
  }
  
  .link-item a {
    margin-right:auto; /* Espacio entre los enlaces y la imagen */
  }
  

  /* ------------------ Estilos para la página abrazaderas ---------------------------- */

/* Estilos para la imagen de la sección */
.product-image-section {
    text-align:center;
    padding: 20px;
  }
  
  .product-image-section img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  /* Efecto de agrandamiento al pasar el cursor sobre la imagen */
  .product-image-section img:hover {
    transform: scale(1.1);
  }
  
  /* Estilos para el enlace de la imagen */
  .product-image-section a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos para la imagen grande cuando se le da clic */
.product-image-section.open img {
    max-width: 70%;
    max-height: none;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: zoom-out;
  }
  